@import url("htps://fonts.googleapis.com/css?family=Jaldi:400|Jost:500|Asar:400|Itim:400|Junge:400|inder:400");
.desktop-1 {
    align-items: flex-end;
    background-color: #fdfbf8;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 3464px;
    overflow: hidden;
    width: 1440px;
}
 
.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.footer {
    align-items: flex-start;
    display: flex;
    height: 431px;
    margin-right: -8px;
    min-width: 1448px;
}

.overlap-group8 {
    background-color:rgba(8, 151, 22, 1) ;
    background-size: 100% 100%;
    height: 437px;
    margin-top: -6px;
    position: relative;
    width: 1448px;
}

.follow-us {
    left: 963px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 36px;
    width:313px;
}

.span0 {
    text-decoration: underline;
}

.overlap-group-1 {
    height: 331px;
    left: 24px;
    position: absolute;
    top: 29px;
    width: 1394px;
}

.address-email-wsat {
    left: 416px;
    letter-spacing: 0;
    line-height: normal;
    position:absolute;
    text-align: center;
    top: 0;
    width: 507px;
}

.x2020-we-save-anim {
    color: var(--white);
    font-family: var(--font-family-jaldi);
    font-size: 400;
    left: 319px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 301px;
    white-space: nowrap;
    width: 730px;
}

.line-1 {
    height: 2px;
    left: 93px;
    position: absolute;
    top : 294px;
    width:1211px;
}

.hours-of-operation-a {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 455px;
}

.body-3 {
    flex-direction: column;
    gap: 112px;
    margin-right: -12px;
    margin-top: 69px;
    min-height: 868px;
    width: 1452px;
}

.desktop-1 .body{
    align-items: flex-start;
    display: flex;
}

.flex-row-3 {
    height: 286px;
    margin-left: 7px;
    min-width: 1415px;
}

.desktop-1 .flex-row-4 {
    align-items: flex-start;
    display: flex;
}

.our-mission-our-miss {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 16px;
    min-height: 286px;
    text-align: center;
    width: 435px;
}

.our-program-our-main {
    letter-spacing: 0;
    line-height: normal;
    min-height: 262px;
    text-align: center;
    width: 489px;
}

.contact-us-sy-no-18 {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 52px;
    min-height: 274px;
    text-align: center;
    width: 423px;
}

.overlap-group7 {
    height: 470px;
    position:relative;
    width: 1442px;
}

.image-8{
    height: 242px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 228px;
    width: 266px;
}

.overlap-group6 {
    height: 479px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1442px;

}

.donate-1 {
    color: var(--white);
    font-family: var(--font-family-itim);
    font-size: 60px;
    font-weight: 400;
    left: 442px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 296px;
}

.rectangle-4 {
    background-color: #051c3e;
    height: 470px;
    left: 447px;
    width: 995px;
}

.desktop-1 .rectangle {
    position: absolute;
    top: 0;
}

.image-6 {
    height: 228px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top:0;
    width: 447px;
}

.your-donation-no-ma {
    color: var(--white);
    font-family: var(--font-family-junge);
    font-size: var(--font-size-1);
    font-weight: 400;
    left: 471px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 108px;
    width: 951px;
}

.image-7 {
    height: 242px;
    left: 266px;
    object-fit: cover;
    position: absolute;
    top: 228px;
    width: 181px;
}

.header {
    align-items: flex-end;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 140px;
    justify-content: flex-start;
    margin-right: -10px;
    margin-top: -2px;
    min-width: 1450px;
    width: auto;
}

.overlap-group2 {
    align-items: center;
    background-image: url(https://devesh42508.github.io/responsive_website_forWSA/images/logo.jpg );
    background-size: 100% 100%;
    display: flex;
    height: 155px;
    margin-bottom: -17px;
    min-width: 1440px;
    padding: 2px 0;

}


.contact-us {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 11px;
    margin-left: 33px;
    min-height: 40px;
    white-space: nowrap;
    width: 166px;
}

.donate {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 9px;
    margin-left: 23px;
    min-height: 40px;
    white-space: nowrap;
    width: 132px;
}


.about.us {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 9px;
    margin-left: 40px;
    min-height: 46px;
    width: 156px;

}


.logo-wsa-1 {
    align-self: flex-start;
    height: 136px;
    object-fit: cover;
    width: 136px;
}

.our-service {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 14px;
    margin-left: 23px;
    min-height: 39px;
    white-space: nowrap;
    width: 204px;
}


.place {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 15px;
    margin-left: 404px;
    min-height: 40px;
    white-space: nowrap;
    width: 113px;
}


.body-2 {
    flex-direction: column;
    gap: 95px;
    margin-right: 6px;
    margin-top: 95px;
    min-height: 1059px;
    width: 1415px;
}

.flex-row {
    gap: 74px;
    height: 547px;
    margin-left: 22px;
    min-width: 1229px;
}

.desktop-1 .flex {
    align-items: flex-start;
    display: flex;
}


.overlap-group-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 45px;
    min-height: 538px;
    width: 679px;
}

.overlap-group3 {
    height: 148px;
    position: relative;
    width: 565px;
}

.title {
    color: #f9f9f9;
    font-family: var(--font-family-asar);
    font-size: 64px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 9px;
    width: 565px;
}


.rectangle-3 {
    background-color: #08203c;
    border-radius: 90px;
    box-shadow: 2px 6px 4px #00000099;
    height: 138px;
    left: 42px;
    width: 481px;
}


.overlap-group5 {
    align-self: flex-end;
    height: 345px;
    position: relative;
    width: 508px;
}

.image-1 {
    height: 298px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 490px;

}


.medical-treatments {
    color: #080808;
    font-family: var(--font-family-jaldi);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 284px;
    width: 493px;
}


.overlap-group4 {
    align-self: flex-end;
    height: 354px;
    position: relative;
    width: 476px;
}

.image-2 {
    height: 298px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 473px;
}

.rehabilitation-centre {
    color: var(--black);
    font-family: var(--font-family-jaldi);
    font-size: 46px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 282px;
    width: 464px;
}


.flex-row-1 {
    gap: 53px;
    height: 417px;
    min-height: 1403;
}

.flex-col-1 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 13px;
    min-height: 389px;
    width: 430px;
}


.image-5 {
    height: 307px;
    object-fit: cover;
    width: 430px;
}


.volunteers {
    letter-spacing: 0;
    line-height: 55px;
    min-height: 69px;
    text-align: center;
    width: 378px;

}


.flex-col {
    flex-direction: column;
    min-height: 417px;
    width: 920px;
}


.image-container {
    align-items: flex-start;
    display: flex;
    gap: 53px;
    height: 303px;
    min-width: 905px;
}

.image-4 {
    align-self: flex-end;
    height: 298px;
    object-fit: contain;
    width: 427px;

}

.image-3 {
    height: 298px;
    object-fit: cover;
    width: 425px;
}

.flex-row-2 {
    gap: 105px;
    height: 114px;
    margin-left: 4px;
    min-width: 916px;
}


.adoption-awareness {
    letter-spacing: 0;
    line-height: normal;
    min-height: 73px;
    width: 398px;
}

.rescue-injured-and-old-stray-animals {
    letter-spacing: 0;
    line-height: 55px;
    min-height: 114px;
    text-align: center;
    width: 413px;
}

.body-1 {
    height: 804px;
    margin-right: -4px;
    min-width: 1449px;
}


.overlap-group1 {
    height: 904px;
    margin-top: -46px;
    position: relative;
    width: 1445px;
}

.flex-container {
    flex-direction: column;
    gap: 3px;
    height: 240px;
    left: 0;
    position: absolute;
    top: 182px;
    width: 707px;
}

.text0 {
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    white-space: nowrap;
    will-change: 707px;

}


.text1 {
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 707px;

}

.overlap-group {
    height: 904px;
    left: 91px;
    position: absolute;
    top: 0;
    width: 1354px;

}

.a-team-of-animal-lov {
    color: var(--black);
    font-family: var(--font-family-jaldi);
    font-size: var(--font-sixe-xl);
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 511px;
    width: 672px;
}

.cristina-anne-costel {
    height: 904px;
    left: 625px;
    object-fit: cover;
    top: 0;
    width: 729px;
}